@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

* {
    padding: 0;
    margin: 0;
}


body {
    background: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Alegreya Sans', sans-serif;
    color: #332321;
}

button {
    font-family: 'Alegreya Sans', sans-serif;
}

.hide {
    display: none !important;
}

.bold {
    font-weight: bold;
}

.txt-important {
    font-weight: bold;
    font-size: 1.14em;
}

.main-card {
    min-width: 90%;
    max-width: 90%;
    max-height: 70%;
    background: #fff3c5;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 100%;
    border-radius: 2px;
}

.buttons {
    margin-top: 10px;
}

.btn {    
    color: white;
    font-size: 1.2em;    
    padding: 20px;
    width: 200px;
    outline: none;
    cursor: pointer;
}

.btn-rounded {
    border-radius: 100px;
}

.text-scroller-container {
    height: 100%;
    width: 110%;
    padding: 8px 11% 46px 8%;
    overflow-y: scroll;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1em;
}

.btn-past {
    background: #7b2a3b;
    border: 1px solid #551d29;
}
    .btn-past:hover {
        background: #702636;
    }
.btn-present {
    background: #e57661;
    border: 1px solid #ce6c5b;
}
    .btn-present:hover {
        background: #ce6c5b;
    }
.btn-future {
    background: #86ddb2;
    border: 1px solid #174c37;
}
    .btn-future:hover {
        background: #3cad7e;
    }



.btn-red {
    background: #7b2a3b;
    border: 1px solid #551d29;
}
.btn-red:hover {
    background: #702636;
}
.btn-orange {
    background: #e57661;
    border: 1px solid #ce6c5b;
}
.btn-orange:hover {
    background: #ce6c5b;
}
.btn-green {
    background: #86ddb2;
    border: 1px solid #174c37;
}
.btn-green:hover {
    background: #3cad7e;
}

.btn-close {
    padding: 10px;
    font-size: 2em;
    color: #3c0611;
}

.btn-check {
    padding: 10px;
    font-size: 2em;
    color: #1b6741;
}

.act-bg {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 3s;
    opacity: 0;
}

.act-title {
    color: white;
    font-size: 6em;
    display: block;
    border-bottom: 2px solid white;
    margin-bottom: 15px;
}

.act-subtitle {
    color: white;
    font-size: 3em;
    display: block;
}

.content-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-title .txt-title {
    cursor: pointer;
    font-weight: bold;
    font-size: 5em;
}
.main-title .txt-title:hover {
    color: #793115;
}

.txt-normal {
    font-size: 2em;
}

.txt-sm { font-size: 1.2em; }
.txt-md { font-size: 1.6em; }
.txt-lg { font-size: 2.0em; }
.txt-hg { font-size: 5em; }

@media(max-width: 650px) {
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 16px;
    }
    .btn {
        width: 40%;
        padding: 8px;
        font-size: 1.1em;
    }

    .content-center {
        justify-content: normal;
    }
}

@media(max-width: 320px) {

    .main-card {
        min-width: 300px;
        max-width: 300px;
        min-height: 400px;
        max-height: 440px;
        overflow: hidden;
        margin-top: 26px;
    }

    .main-title .txt-title {
        font-size: 4em;
    }
}

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.float-right { float: right; }
.float-left { float: left; }

input.playerNumber {
    background: transparent;
    border: none;
    border-bottom: 1px solid #332322;
    width: 30px;
    color: #332322;
    outline: none;
}

input.playerName {
    display: block;
    margin: 10px 0px 0px 0px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #332322;
    color: #332322;
}

.video-box, .video-box iframe {
    width: 100%;
    height: 100%;
}

.skip-to-act li {
    cursor: pointer;
}

.skip-to-act li:hover {
    color: #388875;
}