
<div data-act="1" class="main-title">
    
    <!-- PASSO 1 -->
    <div data-step="1" class="hide txt-normal text-center">
        <p>
            Respiração por 3 minutos olhos fechados. Treino da atenção em perceber as sensações no corpo.
        </p>
        <p class="timer" data-minutes="3">03:00</p>
    </div>

    <!-- PASSO 2 -->
    <div data-step="2" class="hide txt-normal text-center">
        <p>
            De olhos abertos apenas observando os participantes do jogo. 2 minutos.
        </p>
        <p class="timer" data-minutes="2">02:00</p>  
    </div>
    
    <!-- PASSO 3 -->
    <div data-step="3" class="hide txt-normal text-left txt-md text-scroller-container">

        <h2 class="text-center txt-md">Oráculo de Delfos</h2>
        <p class="bold">1- Consciência:</p>
        <p>
            <span class="bold">Elementos:</span>
            (a) AutoConhecimento e AutoRegulação, (b) Conexão com o Outro (Empatia) e (c) Contemplação dos Mistérios Universais. 
        </p>
        <p>
            <span class="bold">Analogias:</span>
            Fogo, número “3”, Triângulo.
        </p>
        
        <br />

        <p class="bold">2- Leveza:</p>	
        <p>
            <span class="bold">Elementos:</span>
            Ritmo, Pulsação, Dança, Flow, Movimento, Equilíbrio.
        </p>
        <p>
            <span class="bold">Analogias:</span>
            Água, número “2”, Círculo.
        </p>
              
        <br />
        
        <p class="bold">3- AGORA!</p>
        <p>
            <span class="bold">Elementos:</span>
            Atenção Plena, Timing
        </p>
        <p>
            <span class="bold">Analogias:</span>
            Raio, Palmas, Explosão, número "1", ponto.
        </p>
    </div>

    <!-- PASSO 4 -->
    <div data-step="4" class="hide txt-normal text-center">
        <p>
            Todos falam juntos: consciência, leveza, agora. (Quando fala “agora" bate palmas juntos).
        </p>
    </div>

    <!-- PASSO 5 -->
    <div data-step="5" class="hide txt-normal text-center">
        <p>
            Nesse jogo, você vai ter a oportunidade de vivenciar essas três inscrições!                
        </p>
    </div>

    <!-- PASSO 6 -->
    <div data-step="6" class="hide txt-normal text-center">
        <p>
            Vamos primeiro conhecer os jogadores —> Passaporte para nave espacial do museu do amanhã (nessa nave vamos passear pelo passado, presente e futuro):
        </p>
    </div>

    <!-- PASSO 7 | TODO : COLOCAR MATRIZ -->
    <div data-step="7" class="hide txt-normal txt-md text-scroller-container">
        <p>
            Personalidade: fica em pe na régua nas 6 dimensões. Não significa que você é sempre assim, mas quem tem tendência a ser de uma forma.
            Pessimista-Otimista	Ansioso-Calmo	
            Preocupado-Distraído	
            Passivo-Agressivo	
            Reservado-Extrovertido
            Lábil-Não Reativo
        </p>
    </div>

    <!-- PASSO 8 | TODO : COLOCAR MATRIZ -->
    <div data-step="8" class="hide txt-normal txt-md text-scroller-container">
        <p>
            Esquema: identificar o seu predominante (e caso tenha o seu secundário). 
            Todos com Papel e Caneta na Mão (Ler sobre esquema PPT e Excel). 
            Cada um vai escrever/desenhar as palavras, frases ou desenhos com os quais você se identificou. 
            Depois cada um apresenta aos outros o que escreveu os esquemas que mais se identificou. 
            (Explicar impacto da criação. Respostas possiveis ao esquema: parar/medo, replicar e tentar agradar o esquema.)                
        </p>
    </div>

    <!-- PASSO 9 | TODO : COLOCAR MATRIZ -->
    <div data-step="9" class="hide txt-normal txt-md text-scroller-container">
        <p>
            Valores e Necessidades: Novamente, todos pegam papel e caneta e em um novo papel 
            escrevem num Brainsrtoming respondendo a pergunta "O que é valioso para você?".
            Depois cada um apresenta para o resto do grupo.  
            (Explicar as Duas pimentas: valioso eh ameaçado (respeito, justiça), conflito entre valores/necessidades (liberdade x fidelidade).                
        </p>
    </div>

</div>