
<div data-act="1" class="main-title">
    
    <!-- PASSO 1 -->
    <div data-step="1" class="hide txt-normal text-center w-100">
        <div class="video-box">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VATmgtmR5o4?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <!-- PASSO 2 -->
    <div data-step="2" class="hide txt-normal text-center">
        <p>
            Encontre uma posição confortável. Vamos fazer o treino da atenção nas sensações do corpo. Mantenha os olhos fechados e repouse sua atenção sobre o seu corpo, perceba o que está acontecendo...
        </p>
        <p class="timer" data-minutes="2">02:00</p>
    </div>

    <!-- PASSO 3 -->
    <div data-step="3" class="hide txt-normal text-center">
        <p>
            Mantenha os olhos abertos e vamos fazer o treino da atenção apenas observando os outros jogadores.
        </p>
        <p class="timer" data-minutes="2">02:00</p>  
    </div>

    <!-- PASSO 4 -->
    <div data-step="4" class="hide txt-normal text-center">
        <p>
            Vamos começar a conhecer os jogadores…
        </p>
    </div>

    <!-- PASSO 5 | TODO : COLOCAR MATRIZ -->
    <div data-step="5" class="hide txt-normal txt-md text-scroller-container text-center">
        <p><strong>Qual é o seu Temperamento?</strong></p>
        <p>            
            Pessimista - Otimista<br />
            Ansioso - Calmo<br />
            Preocupado - Distraído<br />
            Agressivo - Passivo<br />
            Extrovertido - Reservado <br />
                
        </p>
    </div>

    <!-- PASSO 6 | TODO : COLOCAR MATRIZ -->
    <div data-step="6" class="hide txt-normal text-center">
        <p><strong>Qual é o seu Esquema?</strong></p>
        <a href="./views/tabela.html" target="_blank">Abrir tabela de esquema</a>
    </div>

    <!-- PASSO 7 | TODO : COLOCAR MATRIZ -->
    <div data-step="7" class="hide txt-normal text-center">
        <p>O que é valioso para você?</p>
    </div>

</div>