<h2 class="text-center">
    <span class="round float-left"></span>
    <span class="total-points float-right"></span>
    <br />
    <span class="challenge-player"></span>
</h2>

<div class="text-scroller-container content-center txt-lg hide" id="challenge">                
    
    

</div>

<div class="text-scroller-container content-center txt-lg" id="act-intro">
    
    <div id="intro">
        <p>
            <span class="bold text-center">Meditação:</span> 
            Vamos fazer o treino da atenção na audição. Mantenha os olhos fechados e repouse sua atenção sobre o que você está ouvindo, apenas escute...
        </p>
        <p class="timer text-center" data-minutes="2">02:00</p>
    </div>
    
    <div class="video-box hide">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/I33NaYYG4AY?controls=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>