<h2 class="text-center">
    <span class="challenge-type"></span>
    <span class="challenge-value"></span>
    <span class="challenge-multi"></span>
    <br />
    <span class="challenge-player"></span>
</h2>

<div class="text-scroller-container content-center txt-lg hide" id="challenge">                
    
    

</div>

<div class="text-scroller-container content-center txt-lg" id="act-intro">
    
    <div id="intro">
        <p>
            <span class="bold text-center">Meditação:</span> 
            Respiração por 2 minutos olhos fechados. Treino da atenção em perceber as sensações corporais na audição.        
        </p>
        <p class="timer text-center" data-minutes="2">02:00</p>
    </div>
    
    <div class="video-box">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/I33NaYYG4AY?controls=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>