
<div data-act="1" class="main-title">
        
    <!-- PASSO 1 -->
    <div data-step="1" class="hide txt-normal text-center">
        <p>
            Vamos fazer o treino da atenção no fluxo de pensamentos. Mantenha os olhos fechados, relaxe, se aparecer pensamentos, apenas observe sem se apegar...  
        </p>
        <p class="timer" data-minutes="2">02:00</p>
    </div>

    <!-- PASSO 2 -->
    <div data-step="2" class="hide txt-sm text-left text-scroller-container content-center" style="padding: 8px 11% 46px 13%;">
        <p class="bold">Todos precisam responder e deixar registrado por escrito em algum lugar a repsosta para essas perguntas:</p>
        <ol>
            <li>Qual é o seu propósito de vida? Ou para que Serve sua vida?</li>
            <li>Sua vida e seu trabalho estao alinhados ao seu propósito? </li>
            <li>Sua Vida está Equilibrada: Saúde, Lazer, Família, Vida Amorosa, Amigos, Trabalho e Finanças?</li>
            <li>Quais pendências você precisa resolver na sua vida?</li>
            <li>O que você gostaria de Reprogramar na sua Rotina? O que você vai Experimentar fazer de Novo a partir de agora? (ações concretas)</li>
            <li>Para quais Pessoas você precisa Mandar uma Mensagem de Gratidão, Perdão, Admiração e Solidariedade? Sugestão: quando sair daqui, mande!</li>
            <li>Quais pessoas da sua Rede de Amigos e Família podem te Ajudar a realizar essas Ações Concretas? Mande mensagem para elas!</li>
        </ol>
    </div>

</div>