
<div data-act="1" class="main-title">
        
    <!-- PASSO 1 -->
    <div data-step="1" class="hide txt-normal text-center">
        <p>
            Vamos fazer o treino da atenção no fluxo de pensamentos. Mantenha os olhos fechados, relaxe, se aparecer pensamentos, apenas observe sem se apegar...  
        </p>
        <p class="timer" data-minutes="2">02:00</p>
    </div>

    <div data-step="2" class="hide txt-normal text-center">
        <p class="bold">O que te faz Feliz?</p>
    </div>

    <div data-step="3" class="hide txt-normal text-left text-scroller-container content-center" style="padding: 8px 11% 46px 13%;     font-size: 1.5em;">
        <p class="bold">Quais são os seus Sonhos?</p>
        <p>Para ajudar a descrever você pode pensar nas seguintes dimensões: Saúde e Bem-estar, Lazer, Família, Vida Amorosa, Amigos, Trabalho, Finanças e Espiritualidade (Filosofia de Vida).</p> 
    </div>

    <div data-step="4" class="hide txt-normal text-left text-scroller-container content-center" style="padding: 8px 11% 46px 13%;     font-size: 1.5em;">
        <p class="bold">Quais são os seus principais Objetivos? E quais são as metas para você alcançar seus objetivos? Definir ações concretas.</p>
        <p>Você costuma definir e anotar em algum lugar as metas alinhadas aos seus objetivos e sonhos? Você acompanha e prioriza a realização delas?</p> 
    </div>

    <div data-step="5" class="hide txt-normal text-left text-scroller-container content-center" style="padding: 8px 11% 46px 13%;     font-size: 1.5em;">
        <p class="bold">Você tem na sua Rotina alguma forma de treinar sua Atenção ou de Meditar? Você já tem na Rotina uma Atividade Física que você gosta?</p>
        <p>Alternativas interessantes para treinar atenção: Treino Yoga, Programa Mindfulness, Meditação Budismo, Meditações específicas em aplicativo (Insight Timer).</p> 
    </div>

    <div data-step="6" class="hide txt-normal text-left text-scroller-container content-center" style="padding: 8px 11% 46px 13%;     font-size: 1.5em;">
        <p class="bold">Quais pessoas da sua Rede de Amigos e Família podem te Ajudar a realizar essas Ações Concretas?</p>
        <p>Envie mensagem para elas!</p> 
    </div>

    <div data-step="7" class="hide txt-normal text-left text-scroller-container content-center" style="padding: 8px 11% 46px 13%;     font-size: 1.5em;">
        <p class="bold">Quais Pendências você precisa resolver na sua Vida? Quais “nós” precisa desatar?</p>
        <p>Pense para quais pessoas você precisa Mandar uma Mensagem de Gratidão, Perdão, Admiração e Solidariedade? Sugestão: quando sair daqui, envie! Ou anote como uma meta sua.</p> 
    </div>

</div>