
<p class="txt-important">
    Todos precisam responder e deixar registrado por escrito em algum lugar a respostas para essas perguntas:
</p>

<ol>
    <li>Qual é o seu propósito de vida?</li> 	
    <li>Sua vida e seu trabalho estao alinhados ao seu propósito?</li>
    <li>Sua vida está equiibrada (ocupação, ecologia pessoal, vida amorosa, Família, Ecologia Social, Patrimônio e Finanças, Lazer e Transcendência)?</li>
    <li>O que você precisa fazer para passar sua vida a limpo, resolver pendências?</li>
    <li>O que vc gostaria de reprogramar na rotina?</li>
    <li>Para quem você precisa mandar uma mensagem? Mande!</li>
</ol>	