<h2 class="text-center"></h2>
<div class="text-scroller-container">
    <p>    
        <p class="txt-important">
            O que é?
        </p>
        <p>            
            Jornada da Vida é um jogo de <strong>AutoConhecimento</strong> em que se exercita a atenção e compaixão
        </p>
        
        <br />
        <p class="txt-important">Como Funciona?</p>
        <ul>
            <li>São 4 atos. No 1º e no 4º Ato todos os jogadores realizarão as mesas atividades.</li>
            <li>Para alcançar o objetivo do jogo, será feita uma viagem na Sua História e no Seu Futuro (atos 2 e 3, respectivamente).</li>
            <li>Para cada um destes atos, o Jogo funciona com rodadas em que cada Jogador realiza uma atividade. Cada jogador irá sortear uma atividade e realizà-la.</li>
            <li>Há 3 tipos de atividades: Perguntas, Histórias e Experiências. Cada uma delas terá um número de pontos associado. Caso o Jogador responda a pergunta, conte uma história ou realize uma experiência o grupo ganha os pontos daquela atividade. Não existe certo ou errado, o que conta é apenas a realização ou não da atividade.</li>
            <li>Caso o Jogador não se sinta confortável em realizar a atividade, não tem problema, ele pode Pular. Caso ele pule, o grupo ainda poderá ganhar metade dos pontos previstos para aquela atividade se alguém do Grupo se dispuser a fazer.</li>
            <li>As pontuações variam pelo nível de "dificuldade" de cada atividade, podendo ser de 5, 10 ou 20 ptos. No caso de algumas atividades que são realizados em conjunto, o valor é multiplicado pelo número de Jogadores que participaram.</li>
            <li>Não será calculado pontos individualmente, pois o objetivo do Jogo é o grupo alcançar o maior número de pontos possível.</li>
            <li>Em cada Ato cada Jogador irá realizar 15 atividades. Quando todos terminarem as 15, passará para o próximo Ato.</li>
        </ul>
        
        <br />
        <p>
            Prepare-se e fique atento, pois nesse jogo você vai ser <strong>Ator Principal, Ator Coadjuvante e Plateia!</strong>
        </p>
        
        <br />        
        <p class="txt-important">
            Desliguem a internet dos seus celulares ou coloque no modo avião e vamos começar a Jornada!
        </p>

        <br />
        <p>Quantidade de Jogadores: <input type="text" value="1" id="numberOfPlayers" class="playerNumber text-center"/></p>
        <p id="playerNames">
            <input type='text' value='' class='playerName' placeholder='Player 1' />
        </p>

        
    </p>
</div>