<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
<style>
    .th-1 {
        background: #4f6228;
        color: white;
    }

    .td-1 {
        background: #76933c;
        color: white;
    }

    .td-2 {
        background: #c4d79b;
    }

    .td-3 {
        background: #d8e4bc;
    }

    .td-4 {
        background: #c4d79b;
    }

    .t {
        font-size: 0.8em;
    }
</style>

<table class="table table-condensed table-bordered table-responsive t">
<tr>
    <td rowspan="2" class="th-1 text-center align-middle">Grupos</td>
    <td rowspan="2" class="th-1 text-center align-middle">Cuidadores</td>
    <td rowspan="2" class="th-1 text-center align-middle">Ambiente de Criação</td>
    <td rowspan="2" class="th-1 text-center align-middle">Esquemas</td>
    <td rowspan="2" class="th-1 text-center align-middle">Crenças</td>
    <td colspan="3" class="th-1 text-center align-middle">Formas  de enfrentamento/Padrões de Comportamento</td>
</tr>
<tr>
    <td class="th-1 text-center align-middle">Fica Paralisado</td>
    <td class="th-1 text-center align-middle">Replica o Comportamento</td>
    <td class="th-1 text-center align-middle">Tenta Viver com o Esquema</td>
</tr>
<tr>
    <td class="th-1 text-center align-middle">Desconexão e Rejeição</td>
    <td class="td-1 text-center align-middle">Cuidadores que não cuidaram</td>
    <td class="td-2 text-center align-middle">Rejeitadora, ausente, imprevisível ou abusiva</td>
    <td class="td-3 text-center align-middle">(1) Abandono/Instabilidade (AI); (2) Desconfiança/abuso (DA); (3) Privação emocional (PE); (4) Defectividade/Vergonha (DV); (5) Isolamento/alienação (IS)</td>
    <td class="td-3 text-center align-middle">(AI) CRENÇA DE QUE AS PESSOAS IMPORTANTES IRÃO MORRER OU ABANDONÁ- LO A QUALQUER MOMENTO; (DA) CRENÇA DE QUE OS OUTROS IRÃO MACHUCAR, ABUSAR, HUMILHAR, MENTIR. E ELE ACABARÁ LEVANDO A PIOR; (PE) CRENÇA DE QUE SUAS NECESSIDADES DE CARINHO, EMPATIA E PROTEÇÃO NÃO SERÃO ATENDIDAS; (DV) CRENÇA DE SER INFERIOR, INADEQUADO OU DEFECTIVO;   (IS) CRENÇA DE QUE É DIFERENTE E NÃO PERTENCE A NENHUM GRUPO </td>
    <td class="td-4 text-center align-middle">Acha que é defeituoso, ter vergonha de si mesmo</td>
    <td class="td-4 text-center align-middle">Abandona amigos ou família, rejeita os outros, comete abusos</td>
    <td class="td-4 text-center align-middle">Busca ser a estrela principal (o centro das atenções), ciúmes exagerado, agarra-se aos outros e sufoca</td>
</tr>
<tr>
    <td class="th-1 text-center align-middle">Autonomia e Desempenho Prejudicados</td>
    <td class="td-1 text-center align-middle">Cuidadores super-protetores</td>
    <td class="td-2 text-center align-middle">Controle excessivo dos cuidadores, sem incentivo a realizar coisas de forma independente</td>
    <td class="td-3 text-center align-middle">(1) Dependência/Incompetência (DI); (2) Vulnerabildiade ao dano ou doença (VD); (3)Emaranhamento (EM); (4) Fracasso (FR)</td>
    <td class="td-3 text-center align-middle">(DI) CRENÇA DE QUE NÃO É CAPAZ DE DAR CONTA DAS RESPONSABILIDADES COTIDIANAS; (VDD) CRENÇA DE QUE UMA CATÁSTROFE EMINENTE IRÁ ACONTECER; (EM) CRENÇA DE QUE EU NÃO SOBREVIVEREI SE ME SEPARAR DO OUTRO OU O OUTRO NÃO SOBREVIVERÁ SEM MIM; (FR) CRENÇA DE QUE É INCAPAZ OU DE QUE FRACASSARÁ INEVITAVELMENTE</td>
    <td class="td-4 text-center align-middle">Evita assumir novos desafios, sente insegurança, evita sair da zona de conforto (ex.: casa dos pais), não se arrisca (ex.: mesmo numa simples conversa), posterga tarefas (medo de não ser capaz)</td>
    <td class="td-4 text-center align-middle">Super-protege sua família e seus amigos, tem cuidado excessivo</td>
    <td class="td-4 text-center align-middle">Envolve a família ou alguma pessoa da família em todas as decisões da sua vida</td>
</tr>
<tr>
    <td class="th-1 text-center align-middle">Limites Prejudicados</td>
    <td class="td-1 text-center align-middle">Cuidadores que não sabiam dizer não</td>
    <td class="td-2 text-center align-middle">Podiam fazer tudo o que quisessem, permissividade, excesso de tolerância, crença de superioridade, excesso de mimo</td>
    <td class="td-3 text-center align-middle">(1) Arrogância/Grandiosidade (AG); (2) Autocontrole insuficiente (AC)</td>
    <td class="td-3 text-center align-middle">(AG) CRENÇA DE QUE É SUPERIOR AS OUTRAS PESSOAS, E QUE TEM DIREITOS/PRIVILÉGIOS ESPECIAIS; (AC) DIFICULDADE OU RECUSA DE CONTROLAR FRUSTRAÇÕES, IMPULSOS E EMOÇÕES</td>
    <td class="td-4 text-center align-middle">Não sabe lidar com a derrota, falta de persistência, intolerante com frustração em alcançar seus objetivos, podem desabar quando não conseguem o que querem, evita situações em que não podem mandar, em que precisam seguir regras, em que não podem ser os melhores ou os superiores,</td>
    <td class="td-4 text-center align-middle">Excesso de  permissividade e tolerância, não sabe dizer não, acha que é superior e pode acabar se isolando</td>
    <td class="td-4 text-center align-middle">Arrogância, grosseria, descontrole, competitividade excessiva, acha que sua opinão é mais importante do que a dos outros, pressiona as pessoas para que tudo aconteça da sua maneira, </td>
</tr>
<tr>
    <td class="th-1 text-center align-middle">Direcionamento para o outro</td>
    <td class="td-1 text-center align-middle">Cuidadores que só a opinião do outro importava</td>
    <td class="td-2 text-center align-middle">Voltado para o que os outros pensam</td>
    <td class="td-3 text-center align-middle">(1) Subjugação (SU); (2) Auto-sacrifício (AS); (3) Busca de aprovação/reconhecimento (AR)</td>
    <td class="td-3 text-center align-middle">(SU) CRENÇA DE QUE OS PRÓPRIOS DESEJOS, OPINIÕES E SENTIMENTOS NÃO SÃO VÁLIDOS OU IMPORTANTES PARA OS OUTROS; (AS) SÓ SEREI FELIZ QUANDO TODOS QUE EU AMO ESTIVEREM FELIZES; (AR) MEU VALOR DEPENDE DA APROVAÇÃO E RECONHECIMENTO DOS OUTROS</td>
    <td class="td-4 text-center align-middle">Ao receber um crítica fica sem chão, quando não recebe reocnhecimento fica desmotivado</td>
    <td class="td-4 text-center align-middle">Busca desesperadamente reconhecimento dos outros</td>
    <td class="td-4 text-center align-middle"> Quer ajudar todos a sua volta e esquece de si mesmo, faz tudo o que o outro deseja</td>
</tr>
<tr>
    <td class="th-1 text-center align-middle">Supervigilância e Inibção </td>
    <td class="td-1 text-center align-middle">Cuidadores que não aceitavam erros</td>
    <td class="td-2 text-center align-middle">Perfeccionista, falta de espontaneidade, não podia errar, inibição emocional. </td>
    <td class="td-3 text-center align-middle">(1) Inibição emocional (IE); (2) Padrões inflexíveis/Postura Crítica (PI)</td>
    <td class="td-3 text-center align-middle">(IE) SE EU MOSTRAR MEUS SENTIMENTOS, ME TORNAREI VULNERÁVEL; (PI) DEVO FAZER UM GRANDE ESFORÇO PARA ATINGIR ELEVADOS NÍVEIS DE DESEMPENHO</td>
    <td class="td-4 text-center align-middle">Evita situações que possa ser julgado (ex.: iniciar uma conversa), evita colocar o seu ponto de vista, evita interação com os outros com medo de errar, evita exageramente o erro ("pensa 10 vezes antes de falar")</td>
    <td class="td-4 text-center align-middle">Critica com os outros (dificuldade de perdoar os próprios erros e de permitir a imperfeição humana), vê o lado negativo das coisas ("nunca está bom o suficiente"), postura calma, mas com inibição emocional</td>
    <td class="td-4 text-center align-middle">Crítico com você mesmo, gasta muito tempo tentando ser perfeito (focado em entregar resultados, não errar), hiper-racional (inibição de emocões e impulsos como alegria, afeto, brincadeira e raiva)</td>
</tr>
</table>